<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.mule.tooling.runtime.muleServerLaunchType">
    <stringAttribute key="clear_data" value="NEVER"/>
    <booleanAttribute key="consoleEnabled" value="true"/>
    <stringAttribute key="launch_mule_server_version" value="org.mule.tooling.server.4.4.0.ee"/>
    <stringAttribute key="maven.command.line" value=""/>
    <booleanAttribute key="maven.snapshot.updates" value="false"/>
    <stringAttribute key="mule-agent-port" value="50673"/>
    <stringAttribute key="mule-agent-token-auth" value="6a884ad3-b001-46f0-9f73-2f459a8c6be7"/>
    <listAttribute key="mule-project-names">
        <listEntry value="jira-eapi"/>
    </listAttribute>
    <intAttribute key="mule.debug.payload.max.collection.size" value="100"/>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="env" value="local"/>
    </mapAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="jira-eapi"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-M-XX:-UseBiasedLocking -M-Dfile.encoding=UTF-8 -M-XX:+UseG1GC -M-XX:+UseStringDeduplication"/>
    <intAttribute key="remote-debug-max-stream-size" value="2"/>
    <intAttribute key="remote-debug-port" value="6666"/>
    <booleanAttribute key="remote-debug-suspend" value="false"/>
</launchConfiguration>
