<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.mule.tooling.runtime.muleServerLaunchType">
    <stringAttribute key="launch_mule_server_version" value="org.mule.tooling.server.4.4.0.ee"/>
    <stringAttribute key="mule-agent-port" value="53887"/>
    <stringAttribute key="mule-agent-token-auth" value="daceff32-c0c3-4b75-b1b1-c533e1afd90b"/>
    <listAttribute key="mule-project-names">
        <listEntry value="request-connecter"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="request-connecter"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-M-XX:-UseBiasedLocking -M-Dfile.encoding=UTF-8 -M-XX:+UseG1GC -M-XX:+UseStringDeduplication"/>
</launchConfiguration>
